<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>GFD Admin View</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />
    <style>
      body {
        background: url(https://cdn.pixabay.com/photo/2018/09/05/04/11/bubble-3655436_1280.jpg);
        background-size: 100% auto;
        color: white;
      }
      h1 {
        padding: 0.5em;
        padding-bottom: 0;
        text-align: center;
        font-size: 4em;
        background: rgb(56, 141, 141);
        text-shadow: 2px 2px rgba(240, 128, 128, 0.8);
      }
      h2 {
        text-align: center;
        font-size: 2em;
        background: rgb(56, 141, 141);
        text-shadow: 2px 2px rgba(240, 128, 128, 0.8);
      }
      button {
        float: right;
        margin: 5px;
        border: solid 2px rgba(240, 128, 128, 0.8);
      }
      ul {
        columns: 4;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
      li {
        list-style: none;
      }
      li a {
        color: white;
        font-size: 1.9em;
      }
      li a:hover {
        color: rgb(6, 84, 123);
      }
      img {
        margin-left: auto;
        margin-right: auto;
        width: 15%;
        height: 15%;
      }
      .square {
        text-align: center;
        text-shadow: 2px 2px rgb(56, 141, 141);
        margin: 2em;
        background-color: rgba(240, 128, 128, 0.8);
        border-radius: 25px;
        padding-bottom: 2em;
        width: 375px;
      }
    </style>
  </head>
  <body>
    <button><a href="/drinks">Admin Logout</a></button>
    <button>
      <a href="/drinks/new">Add another GFD</a>
    </button>
    <h1>All GFDs</h1>

    <ul>
      <% for(let i = 0; i < drinks.length; i++){ %>
      <li>
        <div class="square">
          Name: <a href="/drinks/<%=drinks[i].id; %>"><%=drinks[i].name%></a>
          <br />
          <img src="<%=drinks[i].img; %>" /> <br />
          Website: <%=drinks[i].website %> <br />
          ABV: <%=drinks[i].ABV%> <br />
          Description: <%=drinks[i].description%><br />
          Flavors: <%=drinks[i].flavors%> <br />
          Locator: <%=drinks[i].locator%> <br />

          <a href="/drinks/<%=drinks[i].id; %>/edit">Edit</a>
          <form
            action="/drinks/<%=drinks[i].id; %>?_method=DELETE"
            method="POST"
          >
            <input type="submit" value="DELETE" />
          </form>
        </div>
      </li>
      <% } %>
    </ul>
  </body>
</html>
