<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%=drink.name%></title>
  </head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
  />
  <style>
    body {
      background: url(https://cdn.pixabay.com/photo/2018/09/05/04/11/bubble-3655436_1280.jpg);
      background-size: 100% auto;
      color: white;
    }
    h1 {
      padding: 0.5em;
      text-align: center;
      font-size: 3em;
      background: rgb(56, 141, 141);
      text-shadow: 2px 2px rgba(240, 128, 128, 0.8);
    }
    a:hover {
      color: rgb(56, 141, 141);
    }
    a {
      color: rgb(6, 84, 123);
    }
    .info {
      display: flex;
      margin: 2em;
      background-color: rgba(240, 128, 128, 0.8);
      border-radius: 25px;
      padding-bottom: 2em;
      font-size: 2em;
      padding: 1em;
    }
    .info2 {
      margin: 1em;
    }
    strong {
      color: white;
      text-shadow: 2px 2px rgb(56, 141, 141);
    }
  </style>
  <body>
    <h1><%=drink.name%></h1>
    <div class="info">
      <img src="<%=drink.img; %>" />
      <div class="info2">
        <strong>ABV:</strong> <%=drink.ABV%>% <br />
        <strong>Flavors:</strong> <%=drink.flavors%> <br />
        <strong>About: </strong><%=drink.description%> <br />
        <a href="<%=drink.website %>" target="_blank"
          >Learn more about <%=drink.name%></a
        >
        <br />
        <a href="<%=drink.locator%>" target="_blank">Find <%=drink.name%> </a>
        <br />
        <a href="/drinks">Back to GFD Home</a>
      </div>
    </div>
  </body>
</html>
