<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <h1>Drinks show page</h1>
    <img src="<%=drink.img; %>" /> <br />
    <%=drink.website %> <br />
    <%=drink.ABV%> <br />
    <%=drink.description%> <br />
    <%=drink.flavors%> <br />
    <%=drink.locator%> <br />
    <nav>
      <a href="/drinks">Back to Drinks Index</a>
    </nav>
  </body>
</html>
